/* general */
:root {
  --color-text-cards: #6a8195;
  --color-text-main: #000000;
  --color-bg-color-white: #ffffff;
  --color-bg-color-blue: #0084fd;
  --color-bg-color-purple: #9792e4;
  --color-bg-color-light-blue: #b5ddff;
  --color-color-font: #fdc15f;
}

body {
  font-family: "PT Sans", sans-serif;
}

img {
  display: block;
  width: 100%;
}
/* quando allargo sopra i 576px */
/* 992px*/
/* 1200px */

/* utility */
.container {
  width: 90%;
  margin: 0px auto;
  padding: 40px 20px;
}

.text-bold {
  font-weight: bold;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}

.text-grey {
  color: var(--color-text-cards);
}
.text-white {
  color: var(--color-bg-color-white);
}

.text-black {
  color: var(--color-text-main);
}

.text-purple {
  color: var(--color-bg-color-purple);
}

.text-blue {
  color: var(--color-bg-color-blue);
}

.bg-blue {
  background-color: var(--color-bg-color-blue);
}

.bg-light-blue {
  background-color: var(--color-bg-color-light-blue);
}

.bg-purple {
  background-color: var(--color-bg-color-purple);
}

.bg-white {
  background-color: var(--color-bg-color-white);
}

.bg-black {
  background-color: var(--color-text-main);
}

.btn {
  display: inline-block;
  text-align: center;
  font-weight: bolder;
  font-size: 1.5em;
  padding: 10px 30px;
  border-radius: 20px;
  width: 50%;
  margin: 10px auto;
}

.btn-left {
  display: inline-block;
  text-align: center;
  font-weight: bolder;
  font-size: 1.5em;
  padding: 10px 30px;
  border-radius: 25px;
  width: 50%;
}

#btn-circle {
  width: 60px;
  height: 60px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  margin: 20px auto;
}

.padding-bt {
  padding-bottom: 100px;
}

.text-decoration {
  text-decoration: underline;
}

/* header */
header {
  width: 100%;
  background-color: var(--color-bg-color-blue);
}

nav {
  width: 90%;
  margin: 0 auto;
  padding: 10px 30px;
}

/* main */

.card {
  padding: 30px;
  word-wrap: break-word;
  margin: 20px 0;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card h3 {
  padding: 20px 0px;
  font-size: 1.8em;
}

.card p {
  font-size: 1.3em;
  display: block;
  padding: 20px 0px;
  line-height: 2;
}
.i-center {
  font-size: 7em;
  padding: 60px;
}

#bt-img {
  margin-bottom: -30px;
}

.bt-img img {
  height: 100%;
  object-fit: cover;
}

#strategic-planning {
  width: 100%;
  background-color: var(--color-bg-color-purple);
}

h2 {
  font-size: 2.4em;
  padding-top: 30px;
  padding-bottom: 30px;
}

.photo-cont {
  border-radius: 50%;
  margin: auto;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.photo-cont img {
  height: 100%;
  object-fit: cover;
}

#benefits {
  background-color: var(--color-bg-color-purple);
}

#left {
  margin: 0px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

#left img {
  height: 100%;
  object-fit: cover;
}

#quote {
  display: block;
  position: absolute;
  top: 0;
  left: 170px;
}

#btn-font {
  font-size: 0.5em;
}

#font-xl {
  font-size: 5em;
  color: var(--color-color-font);
}

/* media query */
@media screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-wrap: wrap;
  }
}
