/* general */
:root {
    --color-text-cards: #6A8195;
    --color-text-main: #000000;
	--color-bg-color-white: #ffffff;
	--color-bg-color-blue: #0084fd;
	--color-bg-color-purple: #9792e4;
	--color-bg-color-light-blue: #b5ddff;
	--color-color-font: #fdc15f;
}

body{
    font-family: "PT Sans", sans-serif;
}

img {
    display: block;
    width: 100%;
}
/* quando allargo sopra i 576px */
/* 992px*/
/* 1200px */

/* utility */
.container {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}

.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}

.text-white {
    color: var(--color-bg-color-white);
}

.text-black {
    color: var(--color-text-main)
}

.text-purple {
    color: var(--color-bg-color-purple);
}

.text-blue {
    color: var(--color-bg-color-blue);
}

.btn-blue {
    display: inline-block;
    color: var(--color-bg-color-white);
    text-align: center;
    font-weight: bolder;
    font-size: 1.5em;
    background-color: var(--color-bg-color-blue);
    padding: 10px 30px;
    border-radius: 20px;
    width: 50%;
    margin: 10px auto;
}

/* header */
header {
    width: 100%;
    background-color: var(--color-bg-color-blue);
}

nav {
    width:90%;
    margin: 0 auto;
    padding: 10px 30px;
    
}

/* main */

.card {
    padding: 30px;
    word-wrap: break-word;
    margin: 20px 0;
    background-color: var(--color-bg-color-light-blue);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.card h3 {
    padding: 20px 0px;
    font-size: 1.8em;
}

.card p {
    font-size: 1.3em;
    display: block;
    padding: 20px 0px;
    font-weight: bold;
    color: var(--color-text-cards);
    line-height: 2;
}
.i-center {
    font-size: 7em;
    padding: 60px;
}
#bt-img {
    margin-bottom: -30px;
}
.bt-img img {
    height: 100%;
    object-fit: cover;
}



